# dependencies
node_modules/
.cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# VuePress build output - THIS IS IMPORTANT!
src/.vuepress/dist/
src/.vuepress/.temp/
.temp/
dist/

# build output
basement_dist/
coverage/
.nyc_output/
run/
logs/
pids/

# local configs
config.local.js