# dependencies
node_modules/
.cache/
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# build output
basement_dist/
coverage/
.nyc_output/
run/
logs/
pids/

# local configs
config.local.js
